<div class="contact-container">
    <h1 class="contact-title">Contact Us</h1>
    
    <p class="description">We'd love to hear from you! Whether you're curious about our menu, events, or just want to say hi—reach out through any of the platforms below.</p>
  
    <div class="social-links">
      <a href="https://www.instagram.com/yokosothebakehouse/profilecard/?igsh=cGZ4NTg2cGtqZ3M3" target="_blank" class="insta">Instagram</a>
      <a href="https://www.facebook.com/people/Yokoso-The-Bake-House/100088110402329/?mibextid=wwXIfr&rdid=X1hNpeNNCekyLk3D&share_url=https%3A%2F%2Fwww.facebook.com%2Fshare%2F18P32HkDRX%2F%3Fmibextid%3DwwXIfr" target="_blank" class="facebook">Facebook</a>
    </div>
  
    <div class="map-section">
      <h2 class="map-title">Visit Us</h2>
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3783.4235611513133!2d73.7685841!3d18.5945636!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2b955245d719b%3A0xe031056b31f2b728!2sYokoso%20-%20The%20Bake%20House!5e0!3m2!1sen!2sin!4v1712740862744!5m2!1sen!2sin"
        width="100%" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
      </iframe>
    </div>
  </div>
  